//
// RESET / NORMALIZE / REBUILD
// -----------------------------------------------------


*, *:before, *:after {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strike, strong, sub, sup, var,
b, i, u, center, hr,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	margin: 0;
	padding: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
	display: block;
}
audio, canvas, video {
	display: inline-block;
}

body {
	color: $text-primary;
	font-family: $base-font;
	// uncomment appropriate line to set default type size
	font-size: 100%; //16px
	// font-size: 87.5%; //14px
	// font-size: 75.0%; //12px
	// font-size: 62.5%; //10px
	line-height: 1.5;
	background: $white;

	// Tablet+
	@media (min-width: $tablet-min) {
		font-size: 75.0%; //12px
		line-height: 1.5; //18px
	}

}

a {
	color: $link-color;
	text-decoration: none;
	transition: color 0.2s, background-color 0.2s;
}
a:active, a:focus, a:hover {
	color: $link-color-active;
	text-decoration: underline;
}

p, ul, ol, dl, table, address {
	margin-bottom: 1.5em;
}
	li {
		margin: 0 0 0.5em 20px;
	}
	dt {
		font-weight: bold;
		margin-bottom: 0.2em;
	}
	dd {
		margin-bottom: 0.5em;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
	th {
		font-weight: bold;
		text-align: left;
		vertical-align: bottom;
	}
	td {
		vertical-align: top;
	}

h1 {
	color: $gray-dark;
	font-family: $alt-font;
	font-size: 32px;
	font-weight: normal;
	line-height: 36px;
	margin-bottom: 18px;
}
h2, .h2 {
	color: $gray-dark;
	font-family: $alt-font;
	font-size: 24px;
	font-weight: normal;
	line-height: 28px;
	margin-bottom: 14px;
}
h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-weight: bold;
	line-height: 1.2;
	margin-bottom: 0.2em;
}
h3, .h3 {
	font-size: 1.3em;
}
h4, .h4 {
	font-size: 1.1em;
}
h5, .h5 {
	font-size: 1.0em;
}
h6, .h6 {
	font-size: 1.0em;
	font-weight: normal;
}

b, strong {font-weight: bold;}

i, em {font-style: italic;}
em em {font-style: normal;}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
blockquote {
	// Note: must not leave any whitespace at the beginning of a
	// blockquote in markup - Safari will render it.
	color: $gray-dark;
	font-size: 20px;
	font-family: Georgia, Times, serif;
	font-weight: normal;
	line-height: 24px;
	margin-bottom: 24px;
	padding: 0 20px;
}

hr {
	clear: both;
	background: none;
	border-top: 2px solid $border-color-med;
	margin: 1.5em 0;
}

img {
	width: auto;
	max-width: 100%;
	height: auto;
}
