/*
/* LAYOUT
/*-----------------------------------------------------*/

html, body {
	height: 100%;
	min-height: 100%;
}

#wrapper {
	width: 100%;
	min-width: 1000px;
	height: 100%;
	min-height: 100%;
	margin: 0 auto;
	padding: 80px 0;
	position: relative;
	@include prefix(box-sizing, border-box);
}

#header {
	width: 100%;
	background: #dedede;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 3;

	#header-inner {
		width: 1000px;
		height: 80px;
		background: #cdcdcd;
		margin: 0 auto;
		padding: 20px;
		position: relative;
		@include prefix(box-sizing, border-box);
	}

}

#footer {
	width: 100%;
	background: #dedede;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 2;

	#footer-inner {
		width: 1000px;
		height: 80px;
		background: #cdcdcd;
		margin: 0 auto;
		padding: 20px;
		position: relative;
		@include prefix(box-sizing, border-box);
	}

}

#main {
	width: 100%;
	height: 100%;
	background: #cdcdcd;
	position: relative;
	z-index: 1;

	#main-inner {
		width: 1000px;
		height: 100%;
		background: #fff;
		margin: 0 auto;
		padding: 0 20px;
		position: relative;
		overflow: scroll;
		@include prefix(box-sizing, border-box);

		#content {
			width: 100%;
			min-height: 400px;
			padding: 40px 0;
			position: relative;
		}

		#subcol {
			width: 200px;
			min-height: 400px;
			padding: 94px 0 40px 0;
			position: relative;
		}

		&.twocols {

			#content {
				float: left;
				width: 720px;
			}
			#subcol {
				float: right;
			}

		}

	}

}
