
// CONFIG VARS
//-------------------------------------------------------

// Namespace
$namespace: bbbg;

// Colors
$text-primary: #010101;
$text-dark-gray: #333;
$text-med-gray: #999;
$text-light-gray: #ccc;
$link-color: #900;
$link-hover-color: #c00;
$error-color: #900;

$vendor-prefixes: webkit moz ms o spec;

$image-path: "../img";
