
	<table>
		<thead>
			<tr>
				<th data-key="Name">Name</th>
				<th data-key="City">City</th>
				<th data-key="State">State</th>
				<th data-key="Country" class="hidden">Country</th>
				<th data-key="Program">Program</th>
				<th data-key="Year">Year</th>
				<th data-key="Amount" class="number">Amount</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th data-key="Name">Name</th>
				<th data-key="City">City</th>
				<th data-key="State">State</th>
				<th data-key="Country" class="hidden">Country</th>
				<th data-key="Program">Program</th>
				<th data-key="Year">Year</th>
				<th data-key="Amount" class="number">Amount</th>
			</tr>
		</tfoot>
		<tbody>
		</tbody>
	</table>
